.chart_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  text-align: center;
}
.chart_content h2{
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(43, 43, 86);
}
.chart_content p{
    margin-top: -10px;
    text-transform: uppercase;
    color: rgb(170, 170, 170);
    border-top: 1px solid rgb(204, 204, 204);
    padding-top: 10px;
    font-size: 15px;
}

.chart_content .chart_div{
    width: 450px;
    height: 260px;
    /* background:#000000b2; */
    padding: 10px;
    margin-top: 50px;
}
