/* Creating a Simple Digital Clock  */
/* follow @akash_kaushik22 at instagram */


body {
    height: 77vh;
    margin: 0;
    background: #000;
    font-family: sans-serif;
    background: url('https://images.unsplash.com/photo-1485470733090-0aae1788d5af?q=80&w=1834&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: 100% 100%;
}

.content {
    margin: 130px 100px;
}

.content p{
    color: white;
    margin: 10px 25px;
}

.clock {
    font-size: 3em;
    font-family: 'Arial', sans-serif;
    color: white;
    
}
